.inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 8rem;
    display: flex;
    align-items: center;
}

img {
    max-width: 150px;
    height: 6rem;
    padding: 0 15px;
    object-fit: cover;
    transition: 0.3s ease-in-out;
    flex-grow: 1;
}

/* When an image is hovered, make it bigger */
img:hover {
    opacity: 0.8;
    flex-grow: 2;
    transition: 0.3s ease-in-out, opacity 0.3s ease-in-out;
    cursor: pointer;
}


img:last-of-type {
    padding-left: 0;
}

.wrapper {
    position: absolute;
    display: flex;
}

section {
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
}

@keyframes swipe {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-100%);
    }
}