@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 27.5% 96.9%;
    /* #f6f9f5 */
    --foreground: 180 20.5% 32.2%;
    /* #25868e */
    --card: 120 27.5% 96.9%;
    /* #f6f9f5 */
    --card-foreground: 180 20.5% 32.2%;
    /* #25868e */
    --popover: 120 27.5% 96.9%;
    /* #f6f9f5 */
    --popover-foreground: 180 20.5% 32.2%;
    /* #25868e */
    --primary: 174 34.3% 56.5%;
    /* #6cc8b4 */
    --primary-foreground: 180 20.5% 96.1%;
    /* #b2e0d6 */
    --secondary: 174 24.6% 81.8%;
    /* #b2e0d6 */
    --secondary-foreground: 180 20.5% 32.2%;
    /* #25868e */
    --muted: 174 24.6% 81.8%;
    /* #b2e0d6 */
    --muted-foreground: 180 25.4% 47.8%;
    /* #6cc8b4 */
    --accent: 174 34.3% 56.5%;
    /* #6cc8b4 */
    --accent-foreground: 180 20.5% 96.1%;
    /* #b2e0d6 */
    --destructive: 180 46.9% 42.8%;
    /* #3fa2a3 */
    --destructive-foreground: 180 20.5% 96.1%;
    /* #b2e0d6 */
    --border: 180 20.5% 55%;
    /* #3fa2a3 */
    --input: 180 20.5% 55%;
    /* #3fa2a3 */
    --ring: 180 20.5% 32.2%;
    /* #25868e */
    --chart-1: 120 76% 56%;
    /* #6cc8b4 */
    --chart-2: 174 34.3% 56.5%;
    /* #6cc8b4 */
    --chart-3: 180 46.9% 42.8%;
    /* #3fa2a3 */
    --chart-4: 180 25.4% 47.8%;
    /* #6cc8b4 */
    --chart-5: 174 24.6% 81.8%;
    /* #b2e0d6 */
    --radius: 0.5rem;
  }

  .dark {
    --background: 180 20.5% 32.2%;
    /* #25868e */
    --foreground: 120 27.5% 96.9%;
    /* #f6f9f5 */
    --card: 180 20.5% 32.2%;
    /* #25868e */
    --card-foreground: 120 27.5% 96.9%;
    /* #f6f9f5 */
    --popover: 180 20.5% 32.2%;
    /* #25868e */
    --popover-foreground: 120 27.5% 96.9%;
    /* #f6f9f5 */
    --primary: 120 27.5% 96.9%;
    /* #f6f9f5 */
    --primary-foreground: 180 20.5% 32.2%;
    /* #25868e */
    --secondary: 174 34.3% 56.5%;
    /* #6cc8b4 */
    --secondary-foreground: 120 27.5% 96.9%;
    /* #f6f9f5 */
    --muted: 174 34.3% 56.5%;
    /* #6cc8b4 */
    --muted-foreground: 180 25.4% 47.8%;
    /* #6cc8b4 */
    --accent: 174 34.3% 56.5%;
    /* #6cc8b4 */
    --accent-foreground: 120 27.5% 96.9%;
    /* #f6f9f5 */
    --destructive: 180 46.9% 42.8%;
    /* #3fa2a3 */
    --destructive-foreground: 120 27.5% 96.9%;
    /* #f6f9f5 */
    --border: 174 34.3% 56.5%;
    /* #6cc8b4 */
    --input: 174 34.3% 56.5%;
    /* #6cc8b4 */
    --ring: 180 25.4% 47.8%;
    /* #6cc8b4 */
    --chart-1: 120 76% 56%;
    /* #6cc8b4 */
    --chart-2: 174 34.3% 56.5%;
    /* #6cc8b4 */
    --chart-3: 180 46.9% 42.8%;
    /* #3fa2a3 */
    --chart-4: 180 25.4% 47.8%;
    /* #6cc8b4 */
    --chart-5: 174 34.3% 56.5%;
    /* #6cc8b4 */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}